<script>
  import Caption from '$lib/ui/atoms/caption/Caption.svelte';

  export let label;
  export let items;
  export let value;
  export let dataCy;
</script>

<div
  class="form-group row flex-grow-1 d-flex justify-content-end m-0 align-items-baseline"
>
  <Caption>{label}</Caption>

  <!-- svelte-ignore a11y-no-onchange -->
  <select
    class="form-control form-control-sm w-auto ml-1"
    data-cy={dataCy}
    bind:value
    on:change
  >
    {#each items as item}
      <option value={item.value}>{item.label}</option>
    {/each}
  </select>
</div>

<style>
  select {
    font-size: 0.6em;
  }
</style>
