<script
  lang="ts"
  strictEvents
>
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  export let login: string;
  export let email: string;
  export let password: string;
  export let errors: string | undefined;
</script>

<svelte:head>
  <title>Register</title>
</svelte:head>

<div class="row justify-content-center">
  <div class="col-md-6 offset-md-3 col-xs-12">
    <h1 class="text-xs-center">Sign up</h1>

    {#if errors}
      <Errors {errors} />
    {/if}

    <TextField
      name="name"
      placeholder="username"
      type="text"
      bind:value={login}
    />

    <TextField
      name="email"
      placeholder="email"
      type="email"
      bind:value={email}
    />

    <TextField
      name="password"
      placeholder="password"
      type="password"
      bind:value={password}
    />

    <button class="btn btn-lg btn-primary pull-xs-right"> Sign up </button>
  </div>
</div>
