<script
  lang="ts"
  strictEvents
>
  import debounce from 'lodash/debounce';
  import get from 'lodash/get';
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  import type {
    Dispatcher,
    Option as BaseOption,
    FnAutoComplete
  } from '$lib/ui/types';
  import type { HTMLInputAttributes } from 'svelte/elements';

  type Option = BaseOption & { _label?: string };

  interface BaseProps extends HTMLInputAttributes {
    value: string;
    getOptionLabel?: (args: Option) => string;
    error: string | undefined;
    label: string | undefined;
  }

  interface PropsLoaded extends BaseProps {
    loadOptions: FnAutoComplete<unknown>;
  }

  interface PropsDefined extends BaseProps {
    items: Option[];
  }

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  type $$Props = PropsLoaded | PropsDefined;

  interface $$Events {
    select: CustomEvent<Option>;
  }

  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  export let items: Option[] = [];
  export let value = '';
  export let loadOptions: FnAutoComplete<unknown> | undefined = undefined;
  export let getOptionLabel: (args: Option) => string = ({ label }) => label;

  const { className, ...restProps } = $$restProps;

  let open = false;
  let options: Option[] = [];
  let activeIndex = -1;
  let isLoading = false;

  function handleClose() {
    activeIndex = -1;
    open = false;
  }

  function handleSelect(index: number) {
    if (index > -1 && options[index]) {
      const item = options[index];
      options = [];
      dispatch('select', item);
    }
  }

  function onOpen() {
    open = true;
  }

  function onSelectValue(
    e: MouseEvent & {
      currentTarget: EventTarget & HTMLUListElement;
    }
  ) {
    const index = parseInt(get(e, 'target.dataset.index', ''));
    handleSelect(isNaN(index) ? -1 : index);
  }

  function regExpEscape(s: string) {
    return s.replace(/[-\\^$*+?.()|[\]{}]/g, '\\$&');
  }

  async function setOptions() {
    if (!value.length) {
      options = [];
      return;
    }

    let toDisplay: Option[] = [];
    isLoading = true;

    if (loadOptions) {
      toDisplay = (await loadOptions(value)) as Option[];
    } else {
      toDisplay = items.filter((item) =>
        getOptionLabel(item).toUpperCase().includes(value.toUpperCase())
      );
    }

    const regExp = new RegExp(regExpEscape(value.trim()), 'i');

    options = toDisplay.map((item: Option) => ({
      ...item,
      _label: getOptionLabel(item).replace(regExp, '<strong>$&</strong>')
    }));
    isLoading = false;
  }

  const updateList = debounce(setOptions, 250);

  function onKeyDown(e: KeyboardEvent) {
    if (!open) {
      onOpen();
    }
    switch (e.code) {
      case 'ArrowDown': // down
        if (!open) {
          onOpen();
        }
        if (activeIndex < options.length - 1) {
          activeIndex++;
        }
        break;
      case 'ArrowUp': // up
        if (!open) {
          onOpen();
        }
        if (activeIndex > 0) {
          activeIndex--;
        }
        break;
      case 'Enter': // enter
        if (activeIndex > -1) {
          handleSelect(activeIndex);
          handleClose();
        }
        break;
      case 'Escape': // escape
        handleClose();
        break;
      default:
        updateList();
    }
  }
</script>

<svelte:window on:click={handleClose} />

<div
  class={`autocomplete ${className}`}
  on:click|stopPropagation
  on:blur={handleClose}
  on:keydown|stopPropagation
>
  <TextField
    type="text"
    {...restProps}
    bind:value
    on:focus={onOpen}
    on:keydown={onKeyDown}
  >
    {#if open}
      {#if isLoading}
        <ul>
          <li>{$_('common.loading')}</li>
        </ul>
      {:else if options.length}
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <ul on:click={onSelectValue}>
          {#each options as item, i}
            <li
              class:active={i === activeIndex}
              data-index={i}
            >
              {@html item._label || item.label}
            </li>
          {/each}
        </ul>
      {/if}
    {/if}
  </TextField>
</div>

<style>
  .autocomplete {
    position: relative;
    width: 100%;
  }

  ul {
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    padding: 0;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    top: 100%;
    min-width: 100%;
  }

  li {
    position: relative;
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    padding: 0.15rem 0.5rem;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 0.9em;
  }

  li:hover,
  li.active {
    background-color: #ebebeb;
  }
</style>
