<script>
  import SongLinks from '$lib/ui/molecules/song-links/SongLinks.svelte';

  export let position = '-';
  export let title = '';
  export let subtitle = '';
  export let href = '';

  export let youtube = '';
  export let file = '';
  export let isA3 = false;
</script>

<a
  class="list-group-item list-group-item-action py-1 px-1"
  {href}
>
  <div class="d-flex flex-row">
    <span class="position text-muted mr-3">{position || '-'}</span>
    <div class="title text-primary text-truncate">
      <span>{title}</span>
      {#if subtitle}
        <span class="text-muted">{subtitle}</span>
      {/if}
    </div>

    <SongLinks
      {file}
      {isA3}
      {youtube}
    />
  </div>
</a>

<style>
  .position {
    flex-shrink: 0;
    font-size: 1em;
    width: 36px;
    text-align: right;
  }

  .title {
    overflow: hidden;
    flex-grow: 1;
  }

  a {
    cursor: pointer;
  }
</style>
