<script
  lang="ts"
  strictEvents
>
  import { onMount } from 'svelte';
  import { _ } from 'svelte-i18n';

  import { goto } from '$app/navigation';
  import { page as pageApp } from '$app/stores';

  import Songs from '$lib/ui/pages/songs/Songs.svelte';
  import post from '$lib/utils/post';
  import {
    URL_INDEX,
    URL_INDEX_QUERY,
    API_URL_INDEX
  } from '$lib/views/song/constants';
  import Headers from '$lib/views/utils/headers/Headers.svelte';

  import type { SongSort, Song, Paginate } from '$lib/types';
  import type { PageData } from './$types';

  export let data: PageData;
  export let filters = {};

  const limit = 50;
  let search = data.search;
  let sort: SongSort = data.sort;
  let page = 0;
  let loading = false;
  let total = 0;
  let items: Song[] = [];

  type LoadSongsArgs = Partial<{
    search: string;
    sort: SongSort;
    page: number;
    limit: number;
    withFiles: boolean;
  }>;

  type LoadSongsReturn = Paginate<Song>;

  function onLoadMore(reset?: boolean | CustomEvent<never>) {
    loading = true;

    if (reset === true) {
      page = 0;
      items = [];
      total = 0;
    }

    post<LoadSongsReturn, LoadSongsArgs>(API_URL_INDEX, {
      page,
      sort,
      limit,
      search,
      withFiles: true,
      ...filters
    }).then(({ items: newItems, ...rest }) => {
      ({ page, total } = rest);
      if (!page) {
        items = newItems;
      } else {
        items = items.concat(newItems);
      }
      page += 1;
      loading = false;
    });
  }

  function onSearch({
    detail
  }: {
    detail: { sort: SongSort; search: string };
  }) {
    ({ search, sort, ...filters } = detail);
    history.pushState(
      {},
      '',
      search ? URL_INDEX_QUERY.replace('#QUERY#', search) : URL_INDEX
    );
    onLoadMore(true);
  }

  function onAddSong() {
    goto('/song/0');
  }

  onMount(() => {
    onLoadMore(true);
  });

  $: logged = !!$pageApp.data.session?.id;
  $: categories = [
    { label: $_('song.category.placeholder') },
    ...data.categories
  ];
  $: levels = [{ label: $_('song.level.placeholder') }, ...data.levels];
</script>

<Headers
  description={$_('headers.songs')}
  path={URL_INDEX}
  title={$_('song.header')}
/>

<Songs
  {...data}
  admin={logged}
  filters={{
    isReady: true,
    categories,
    levels
  }}
  {loading}
  {search}
  songs={items}
  {sort}
  {total}
  on:search={onSearch}
  on:loadMore={onLoadMore}
  on:add={onAddSong}
/>
