<script>
  import debounce from 'lodash/debounce';
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import { _ } from 'svelte-i18n';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import SelectFilter from '$lib/ui/atoms/filters/select/SelectFilter.svelte';
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  const dispatch = createEventDispatcher();

  let openFilter = false;

  export let withFilters;
  export let placeholder;
  export let caption;
  export let sorts = [];
  export let sort;
  export let search = '';

  function onChange() {
    dispatch('search', { search, sort });
  }

  function toggleFilter() {
    openFilter = !openFilter;
  }

  const handleChange = debounce(onChange, 500);
</script>

<div class="min-width">
  <div class="form-group mb-1">
    <input
      name="search"
      class="form-control"
      {placeholder}
      type="text"
      bind:value={search}
      on:keydown={handleChange}
    />
  </div>

  <div class="d-flex justify-content-between align-items-baseline">
    {#if caption}
      <Caption>{caption}</Caption>
    {/if}

    {#if sorts && sorts.length}
      <SelectFilter
        dataCy="form-search-sort"
        items={sorts}
        label={$_('common.sortBy')}
        bind:value={sort}
        on:change={onChange}
      />
    {/if}
    {#if withFilters}
      <div
        class="cursor-pointer"
        on:click={toggleFilter}
      >
        <Caption class="d-flex ml-2">
          {$_('common.moreFitlers')}
          {#if openFilter}
            <Icon name="arrowUp" />
          {:else}
            <Icon name="arrowDown" />
          {/if}
        </Caption>
      </div>
    {/if}
  </div>

  {#if withFilters && openFilter}
    <div transition:slide>
      <slot />
    </div>
  {/if}
</div>

<style>
  .min-width {
    min-width: 360px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>
