<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/molecules/app-link/base/BaseLink.svelte';

  export let href;
  export let color = 'inherit';
  export let logo = 'link';
  export let medium;
</script>

<Link
  {color}
  {href}
>
  <Icon
    name={logo}
    {medium}
  />
</Link>
