<script
  lang="ts"
  strictEvents
>
  import { onMount } from 'svelte';
  import { _ } from 'svelte-i18n';

  import ListWishItem from '$lib/ui/organisms/list-wish-item/ListWishItem.svelte';
  import Songs from '$lib/ui/pages/songs/Songs.svelte';
  import post from '$lib/utils/post';
  import {
    URL_WISHES,
    URL_WISHES_QUERY,
    API_URL_WISHES
  } from '$lib/views/song/constants';

  import type { SongSort, Song } from '$lib/types';
  import type { PageData } from './$types';

  export let data: PageData;
  let search = data.search;
  let sort: SongSort = data.sort;

  const limit = 50;
  let page = 0;
  let loading = false;
  let total = 0;
  let items: Song[] = [];
  let filters = { isReady: false };

  type LoadSongsArgs = Partial<{
    search: string;
    sort: SongSort;
    page: number;
    limit: number;
    withFiles: boolean;
  }>;

  function onLoadMore(reset?: boolean | CustomEvent<never>) {
    loading = true;
    if (reset === true) {
      page = 0;
      items = [];
      total = 0;
    }

    post<Song[], LoadSongsArgs>(API_URL_WISHES, {
      page,
      sort,
      limit,
      search,
      withFiles: true,
      ...filters
    }).then((newItems) => {
      items = newItems;
      page += 1;
      total = items.length;
      loading = false;
    });
  }

  function onSearch({
    detail
  }: {
    detail: { sort: SongSort; search: string };
  }) {
    ({ sort, search, ...filters } = detail);
    history.pushState(
      {},
      '',
      search ? URL_WISHES_QUERY.replace('#QUERY#', search) : URL_WISHES
    );
    onLoadMore(true);
  }

  onMount(() => {
    onLoadMore(true);
  });

  $: categories = [
    { label: $_('song.category.placeholder') },
    ...data.categories
  ];
  $: levels = [{ label: $_('song.level.placeholder') }, ...data.levels];
</script>

<Songs
  {...data}
  component={ListWishItem}
  filters={{
    isReady: true,
    categories,
    levels
  }}
  {loading}
  {search}
  songs={items}
  {sort}
  {total}
  on:search={onSearch}
  on:loadMore={onLoadMore}
/>
