<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import ListPlaylistItem from '$lib/ui/organisms/list-playlist-item/ListPlaylistItem.svelte';
  import SearchList from '$lib/ui/templates/search-list/SearchList.svelte';

  import type { Playlist, PlaylistSort } from '$lib/types';

  const dispatch = createEventDispatcher();

  type SortRule = {
    value: PlaylistSort;
    label: string;
  };
  const sortRules: SortRule[] = [
    { value: 'nameDesc', label: 'playlist.sorts.createdDesc' },
    { value: 'nameAsc', label: 'playlist.sorts.createdAsc' }
  ];
  const sorts = sortRules.map(({ label, ...rest }) => ({
    ...rest,
    label: $_(label)
  }));

  export let sort: PlaylistSort = sorts[0].value;
  export let playlists: Playlist[] = [];
  export let search = '';
  export let playlist = false;
  export let admin = false;
  export let loading = false;
  export let total: number;
  export let urlLast: string | undefined;

  function onAdd() {
    dispatch('add');
  }
</script>

<SearchList
  component={ListPlaylistItem}
  items={playlists}
  labelEmpty={$_('playlist.notFound')}
  labelTotal={$_('playlist.found')}
  {loading}
  placeholder={$_('common.search')}
  {search}
  {sort}
  {sorts}
  {total}
  on:search
  on:loadMore
>
  <div slot="action">
    {#if playlist}
      <a
        class="btn btn-link"
        href={urlLast}>{$_('playlist.wishList')}</a
      >
      {#if admin}
        <button
          class="btn btn-link"
          on:click={onAdd}>{$_('playlist.add')}</button
        >
      {/if}
    {/if}
  </div>
</SearchList>
