<script
  lang="ts"
  strictEvents
>
  import remove from 'lodash/remove';
  import { _ } from 'svelte-i18n';

  import haveError from '$lib/controllers/song/haveError';
  import PlaylistForm from '$lib/ui/organisms/form/playlist/PlaylistForm.svelte';
  import Playlist from '$lib/ui/organisms/playlist/Playlist.svelte';
  import Song from '$lib/ui/pages/song/Song.svelte';
  import post from '$lib/utils/post';
  import { API_URL_EDIT } from '$lib/views/song/constants';

  import { findBySong } from './findBySong';

  import type {
    Playlist as PlaylistItem,
    PlaylistType,
    Song as SongType,
    SongFile
  } from '$lib/types';
  import type { FnAutoComplete, Option, Sort } from '$lib/ui/types';

  type Wish = SongType & { unsaved?: boolean };

  // general
  export let edit = false;
  export let categories: Option[];
  export let type: PlaylistType;

  // playlist
  export let playlist: Partial<PlaylistItem> = {
    type,
    songs: []
  };
  export let wishSelectError: string | undefined = undefined;
  export let errors: Record<string, string> | undefined = undefined;
  export let saving = false;
  export let urlGenerate: string | undefined = undefined;
  // functions
  export let loadArtists: FnAutoComplete;
  export let loadAuthors: FnAutoComplete;
  export let loadSongs: FnAutoComplete<SongType>;

  let wishAdding = false;
  let sort: Sort = {
    value: 'position',
    asc: true
  };

  function hideWishForm() {
    wishAdding = false;
  }

  function displayWishForm() {
    wishAdding = true;
  }

  function isDupicateWish(song: SongType) {
    if (!playlist || !playlist.songs?.length) {
      return false;
    }
    const found = playlist.songs?.findIndex(findBySong(song));

    if (found > -1) {
      return $_('playlist.errors.duplicate');
    }

    return false;
  }

  function getSongFullPath(song: SongType) {
    if (!song.fileId || !song.files?.length) {
      return undefined;
    }
    const file: SongFile | undefined = song.files.find(
      (f) => f.id === song.fileId
    );

    return file ? file.fullpath : undefined;
  }

  function addWish(song: SongType) {
    const wish: Wish = {
      ...song,
      unsaved: true,
      fullpath: getSongFullPath(song)
    };

    hideWishForm();

    const songs = [...(playlist?.songs || []), wish];

    playlist = { ...playlist, songs };
    wishSelectError = undefined;
  }

  function onSelectWish({ detail }: CustomEvent<Option>) {
    const song = detail.value as unknown as SongType;
    const error = isDupicateWish(song);
    if (error) {
      wishSelectError = error;
      return;
    }
    addWish(song);
  }

  function onDelete({ detail }: CustomEvent<SongType>) {
    const findIt = findBySong(detail);
    if (!playlist?.songs?.length) {
      return;
    }
    const songs = remove(playlist.songs, (song) => !findIt(song));

    playlist = { ...playlist, songs };
  }

  function onPositionChange({ detail }: CustomEvent<SongType>) {
    if (!playlist?.songs?.length) {
      return;
    }

    const index = playlist.songs.findIndex(findBySong(detail));

    const newSongs = [...playlist.songs];
    newSongs[index] = {
      ...newSongs[index],
      ...detail
    };

    playlist = {
      ...playlist,
      songs: newSongs
    };
  }

  function onAddSong({ detail }: CustomEvent<SongType>) {
    const formErrors = haveError(detail);
    if (formErrors) {
      errors = formErrors;
      return;
    }

    saving = true;
    post<SongType, SongType>(API_URL_EDIT.replace('#ID#', '0'), detail)
      .then((res) => {
        saving = false;
        playlist = {
          ...playlist,
          songs: [...(playlist?.songs || []), res]
        };
        hideWishForm();
      })
      .catch((e) => {
        saving = false;
        errors = e;
      });
  }

  function handleSort({ detail }: CustomEvent<Sort & { sorted: boolean }>) {
    const { sorted, asc, value } = detail;
    sort = {
      ...sort,
      value,
      asc: sorted ? !asc : true
    };
  }
</script>

<div>
  {#if edit}
    {#if wishAdding}
      <Song
        {categories}
        edit
        {errors}
        {loadArtists}
        {loadAuthors}
        {saving}
        on:cancel={hideWishForm}
        on:submit={onAddSong}
      />
    {:else}
      <PlaylistForm
        {...playlist}
        {errors}
        loadWishes={loadSongs}
        {saving}
        {sort}
        {urlGenerate}
        wishError={wishSelectError}
        on:select={onSelectWish}
        on:submit
        on:cancel
        on:add={displayWishForm}
        on:delete={onDelete}
        on:positionChange={onPositionChange}
        on:sort={handleSort}
      />
    {/if}
  {:else}
    <Playlist
      {...playlist}
      on:cancel
    />
  {/if}
</div>
