<script
  lang="ts"
  strictEvents
>
  import { t as _, locale } from 'svelte-i18n';

  import { page } from '$app/stores';

  import { FOOTER_LINKS } from '$lib/core/config';
  import Footer from '$lib/ui/organisms/footer/Footer.svelte';
  import Navbar from '$lib/ui/organisms/navbar/Navbar.svelte';
  import type { Link } from '$lib/ui/organisms/navbar/Navbar.svelte';

  import { serializeSchema } from './serializeSchema';

  const appIcon = '/logo-270.png';
  const footerLinks = FOOTER_LINKS.split(';');

  function handleChangeLang() {
    $locale = lang;
  }

  function getLinks(
    user: Record<string, never> | { id: number; name: string }
  ) {
    const links: Array<Link> = [
      { href: '/#join', label: 'home.join.title', id: 'join' },
      { href: '/playlist', label: 'navs.playlist', id: 'playlist' },
      { href: '/song', label: 'navs.song', id: 'song' },
      { href: '/almanac', label: 'navs.almanac', id: 'almanac' },
      { href: '/songbook', label: 'navs.songbook', id: 'songbook' }
    ];

    if (user?.id) {
      links.push({
        href: '/user',
        label: user.name,
        icon: 'contact',
        id: 'me'
      });
    }

    return links;
  }

  $: lang = $locale === 'fr' ? 'en' : 'fr';
  $: links = getLinks($page.data.session?.id ? $page.data.session : undefined);
  $: schema = {
    '@context': 'https://schema.org',
    '@graph': [
      {
        '@context': 'https://schema.org/',
        '@type': 'WebSite',
        url: 'https://www.rendevuke.com/',
        name: $_('site.title'),
        description: $_('site.description'),
        sameAs: footerLinks,
        creator: {
          '@type': 'Organization',
          url: 'https://www.rendevuke.com/',
          logo: 'https://www.rendevuke.com/logo-270.png'
        },
        potentialAction: {
          '@type': 'SearchAction',
          target: 'https://www.rendevuke.com/song/?s={search_term_string}',
          'query-input': 'required name=search_term_string'
        }
      },
      {
        '@type': 'WebPage',
        name: $_('home.description.content'),
        '@id': 'https://www.rendevuke.com/#join',
        url: 'https://www.rendevuke.com/#join'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.songs'),
        '@id': 'https://www.rendevuke.com/song',
        url: 'https://www.rendevuke.com/song'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.current'),
        '@id': 'https://www.rendevuke.com/playlist/current',
        url: 'https://www.rendevuke.com/playlist/current'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.playlists'),
        '@id': 'https://www.rendevuke.com/playlist',
        url: 'https://www.rendevuke.com/playlist'
      }
    ]
  };
</script>

<svelte:head>
  {@html serializeSchema(schema)}
</svelte:head>

<header>
  <Navbar
    {appIcon}
    {lang}
    {links}
    path={$page.url.pathname}
    on:changeLang={handleChangeLang}
  />
</header>

<main>
  <div class="container page">
    <slot />
  </div>
</main>

<footer>
  <Footer links={footerLinks} />
</footer>

<style>
  main {
    height: 100%;
    flex-grow: 1;
    margin-top: 2em;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1664;
  }
</style>
