<script
  lang="ts"
  strictEvents
>
  import { _ } from 'svelte-i18n';

  import Section from '$lib/ui/molecules/section/Section.svelte';
  import Headers from '$lib/views/utils/headers/Headers.svelte';

  import Propaganda from './Propaganda.svelte';
</script>

<Headers />

<div
  class="my-5"
  data-cy="view-home"
>
  <Propaganda />

  <div>
    <Section
      image="/img/home.jpg"
      title={$_('home.description.title')}
    >
      <p class="text-justify">{@html $_('home.description.content')}</p>
    </Section>
  </div>

  <div>
    <Section
      id="join"
      image="/img/when.jpg"
      reverse
      title={$_('home.join.title')}
    >
      <h2 class="mb-2 text-center">{$_('home.join.subtitle')}</h2>
      <p class="text-justify">{@html $_('home.join.content')}</p>
    </Section>
  </div>

  <div>
    <Section
      image="/img/music.jpg"
      title={$_('home.music.title')}
    >
      <p class="text-justify">{@html $_('home.music.content')}</p>
    </Section>
  </div>
</div>

<style>
  .my-5 > div {
    margin-bottom: 100px;
  }
  .propaganda {
    max-width: 500px;
    margin: auto;
  }

  .propaganda a {
    text-decoration: underline;
  }

  .propaganda strong {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    display: block;
  }
</style>
