<script
  lang="ts"
  strictEvents
>
  import { _ } from 'svelte-i18n';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
</script>

<div class="propaganda d-flex flex-column align-items-center">
  <h1 class="h2 text-danger d-flex align-items-center">
    <Icon
      name="warning"
      large
    />
    <span>Votre attention!</span>
    <Icon
      name="warning"
      large
    />
  </h1>

  <h3 class="h4 text-center text-secondary">
    <h3 class="h4 text-center text-secondary">
      <span>A partir du 29 novembre 2023</span>Les Rendev`uke auront lieu au :
      <strong
        ><a
          href="https://www.tripadvisor.fr/Restaurant_Review-g187147-d3611107-Reviews-Le_Petit_Balcon-Paris_Ile_de_France.html"
          target="_blank"
          rel="noreferrer noopener"
          class="underline">Petit balcon</a
        ></strong
      ><strong>48 rue des maronites, 75020 Paris</strong>
    </h3>
  </h3>
</div>

<style>
  .propaganda {
    max-width: 500px;
    margin: auto;
  }

  .propaganda a {
    text-decoration: underline;
  }

  .propaganda strong,
  .propaganda span {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    display: block;
  }
</style>
