<script>
  import Link from '$lib/ui/atoms/link/Link.svelte';

  export let href;
  export let target = '_blank';
  export let color = 'inherit';
</script>

<Link
  class="text-primary btn btn-link btn-sm p-0 mx-auto"
  {href}
  {target}
  on:mouseover
  on:mouseout
>
  <span style:color>
    <slot />
  </span>
</Link>

<style>
  span {
    opacity: 0.65;
  }

  span:hover {
    opacity: 1;
  }
</style>
