<script
  lang="ts"
  strictEvents
>
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';

  export let id = '';
  export let title: string;
  export let image: string;
  export let reverse = false;
</script>

<section>
  <div class="m-3">
    <SectionTitle {id}>{@html title}</SectionTitle>
  </div>
  <div
    class="row shadow"
    class:flex-row-reverse={!reverse}
  >
    <div
      style={`background-image: url(${image});`}
      class="d-none d-sm-flex col-sm-3 col-md-5 image rounded"
    >
      <span />
    </div>
    <div
      class="col-12 col-sm-9 col-md-7 p-2"
      class:pl-sm-0={reverse}
      class:pr-sm-0={!reverse}
    >
      <div class="card-body p-0">
        <slot />
      </div>
    </div>
  </div>
</section>

<style>
  .image {
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .image span {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, white, transparent);
  }

  .flex-row-reverse .image {
    flex-direction: row;
  }

  .flex-row-reverse .image span {
    background-image: linear-gradient(to right, white, transparent);
  }
</style>
