<script>
  import omit from 'lodash/omit';

  import Section from './Section';

  export let content;
  $: rest = omit($$props, ['content']);
</script>

<Section {...rest}>
  {@html content}
</Section>
