<script context="module">
  export const acceptedSongFile = [
    'application/pdf',
    'application/vnd.oasis.opendocument.text',
    'application/msword',
    'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
  ];
</script>

<script
  lang="ts"
  strictEvents
>
  import omit from 'lodash/omit';
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import SelectField from '$lib/ui/atoms/fields/select/SelectField.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import YoutubeField from '$lib/ui/atoms/fields/youtube/YoutubeField.svelte';
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import Actions from '$lib/ui/molecules/actions/Actions.svelte';
  import AutoComplete from '$lib/ui/molecules/auto-complete/AutoComplete.svelte';
  import File from '$lib/ui/molecules/file/File.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';

  import type { SongFile, Song, Playlist } from '$lib/types';
  import type { FnAutoComplete, Option } from '$lib/ui/types';

  export let artist = '';
  export let author = '';
  export let categoryId: number | undefined;
  export let title = '';
  export let level = 1;
  export let link = '';
  export let fileId: number | undefined;
  export let errors: Record<string, string> = {};
  export let files: SongFile[] = [];
  export let isSaving = false;
  export let playlists: Playlist[] = [];

  export let acceptedFiles = acceptedSongFile.join(',');

  export let categories: Option[] = [];
  export let loadArtists: FnAutoComplete;
  export let loadAuthors: FnAutoComplete;
  export let uploadFile: (args: {
    files: SongFile[];
    file: { file: SongFile };
    index: number;
  }) => Promise<SongFile[]>;

  let song: Song | undefined;

  $: listErrors = omit(errors, [
    'artist',
    'author',
    'categoryId',
    'title',
    'level',
    'link',
    'files'
  ]);

  const dispatch = createEventDispatcher();

  function onSubmit() {
    let detail = {
      title,
      author,
      artist,
      link,
      categoryId,
      level,
      files,
      fileId
    };
    if (song && song.artist === artist && song.title === title) {
      detail = { ...song, ...detail };
    }

    dispatch('submit', detail);
  }

  async function handleUpload({ detail }: CustomEvent<{ file: SongFile }>) {
    const { file } = detail;
    const index = files.findIndex(
      ({ name, type }) => file.name === `${name}.${type}`
    );

    if (index > -1) {
      const resp = confirm(`
        ${file.name}, already exists.
        Do you want to replace it?
      `);
      if (!resp) {
        return;
      }
    }

    files = await uploadFile({ files, file: detail, index });
  }

  function findFile(file: SongFile) {
    return files.findIndex(
      !file?.id
        ? ({ name, type }: SongFile) => name === file.name && type === file.type
        : (f: SongFile) => f.id === file.id
    );
  }

  function onSelectFile({ detail: file }: CustomEvent<SongFile>) {
    const index = findFile(file);

    files = files.map((f, i) => ({ ...f, selected: index === i }));
    fileId = file.id;
  }

  function onChangeFile({ detail: file }: CustomEvent<SongFile>) {
    const index = findFile(file);

    files = [...files.slice(0, index), file, ...files.slice(index + 1)];
  }

  function onSelectArtist({ detail }: CustomEvent<Option>) {
    artist = detail.label;
  }

  function onSelectAuthor({ detail }: CustomEvent<Option>) {
    author = detail.label;
  }
</script>

<div class="song-form">
  <div class="mb-2">
    <Actions
      saving={isSaving}
      on:submit={onSubmit}
      on:cancel
    />
  </div>

  {#if Object.keys(listErrors).length}
    <Errors errors={listErrors} />
  {/if}
  <div class="form">
    <div class="col-lg-6">
      <TextField
        name="title"
        error={errors?.title}
        label={$_('song.title')}
        placeholder={$_('song.title')}
        type="text"
        bind:value={title}
      />
    </div>

    <div class="col-lg-6">
      <AutoComplete
        name="artist"
        error={errors.artist}
        label={$_('song.artist')}
        loadOptions={loadArtists}
        placeholder={$_('song.artist')}
        bind:value={artist}
        on:select={onSelectArtist}
      />
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
      <AutoComplete
        name="author"
        error={errors.author}
        label={$_('song.author')}
        loadOptions={loadAuthors}
        placeholder={$_('song.author')}
        bind:value={author}
        on:select={onSelectAuthor}
      />
    </div>

    <div class="col-lg-5 col-md-6 col-xs-12">
      <YoutubeField
        name="youtube-link"
        error={errors.link}
        label={$_('song.link')}
        placeholder={$_('song.link')}
        bind:value={link}
      />
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
      <SelectField
        name="category"
        error={errors.categoryId}
        items={categories}
        label={$_('song.category')}
        placeholder={$_('song.category')}
        bind:value={categoryId}
      />
    </div>

    <div class="col-lg-1 col-md-6 col-xs-12">
      <TextField
        name="level"
        error={errors.level}
        label={$_('song.level')}
        type="number"
        bind:value={level}
      />
    </div>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <FileUpload
      accept={acceptedFiles}
      on:change={handleUpload}
    />
  </div>

  <div class="list-group list-group-flush">
    {#each files as file}
      <File
        {...file}
        on:select={onSelectFile}
        on:change={onChangeFile}
      />
    {/each}
  </div>

  {#if playlists && playlists.length}
    <div class="mt-5">
      <hr />
      <div>
        <List
          component={OrderListItem}
          items={playlists}
        />
      </div>
    </div>
  {/if}
</div>

<style>
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
</style>
