<script>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';

  export let saving;

  const dispatch = createEventDispatcher();

  function onSubmit() {
    dispatch('submit');
  }

  $: saveLabel = $_('common.' + (saving ? 'saving' : 'save'));
</script>

<div class="actions">
  <CancelButton on:cancel>
    {$_('common.back')}
  </CancelButton>
  <button
    class="button-save btn"
    class:btn-outline-success={!saving}
    class:btn-success={saving}
    disabled={saving}
    on:click={saving ? null : onSubmit}
  >
    {saveLabel}
  </button>
</div>

<style>
  .actions {
    display: flex;
    justify-content: space-between;
  }
</style>
