<script
  lang="ts"
  strictEvents
>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let src: undefined | string = undefined;
  export let small = false;
</script>

<div
  class="image border border-secondary rounded-circle"
  class:small
>
  {#if src}
    <div style={`background-image: url(${encodeURI(src)});`} />
  {:else}
    <Icon
      name="images"
      large
    />
  {/if}
</div>

<style>
  .image {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    background-color: white;
  }

  .image > div {
    width: 105%;
    height: 105%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .image.small {
    width: 75px;
    height: 75px;
  }
</style>
