<script>
  import get from 'lodash/get';
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import StepItem from '$lib/ui/atoms/step-item/StepItem.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';

  export let name;
  export let summary;
  export let image;
  export let templates;
  export let urlSongs;

  let step = 1;

  function toggleStep({ detail }) {
    detail = parseInt(detail);
    step = detail !== step ? detail : 0;
  }

  function selectTextOnFocus(node) {
    const handleFocus = () => {
      node && typeof node.select === 'function' && node.select();
    };

    node.addEventListener('focus', handleFocus);

    return {
      destroy() {
        node.removeEventListener('focus', handleFocus);
      }
    };
  }

  $: imageHref = get(image, 'src');
</script>

<div class="text-center">
  <Avatar {...image} />

  <h1>{name}</h1>
</div>

<ul class="list-group list-group-flush">
  <StepItem
    active={step === 1}
    step={1}
    title="Préparer la playlist"
    on:click={toggleStep}
  >
    <ul>
      <li>
        <span>
          Télécharger toutes les <Link
            blank
            href={urlSongs}>partitions de la liste</Link
          >
        </span>
      </li>
      <li>
        Fusionner les pdf avec <Link
          blank
          href="https://www.ilovepdf.com/merge_pdf">Ilovepdf</Link
        >
      </li>
      <li>
        Ajouter un numéro de page avec <Link
          blank
          href="https://www.ilovepdf.com/merge_pdf">Ilovepdf</Link
        > (police: Arial, couleur: Bleu)
      </li>
    </ul>
  </StepItem>
  <StepItem
    active={step === 2}
    step="2"
    title="Faire le sommaire"
    on:click={toggleStep}
  >
    <ul>
      <li>
        Télécharger le template au format:
        <Link href={templates.docx}>docx</Link> ou <Link href={templates.odt}
          >odt</Link
        >
      </li>
      <li>
        {#if imageHref}
          Ajouter <Link
            blank
            href={get(image, 'src')}>l'image</Link
          > de la playlist.
        {:else}
          <span>
            <strong class="text-danger">ATTENTION</strong>
            <span>, aucune image n'a été configurée pour cette liste</span>
          </span>
        {/if}
      </li>
      <li>
        <div class="form-group">
          <label for="summary-content"
            >copier / coller le sommaire suivant</label
          >
          <textarea
            id="summary-content"
            class="form-control form-control-sm text-monospace"
            use:selectTextOnFocus>{summary}</textarea
          >
        </div>
      </li>
      <li>convertissez le fichier en pdf</li>
    </ul>
  </StepItem>
  <StepItem
    active={step === 3}
    step="3"
    title="Fusionner playlist et sommaire"
    on:click={toggleStep}
  >
    <p>
      Fusionner la liste et le sommaire avec <Link
        blank
        href="https://www.ilovepdf.com/merge_pdf">ilovepdf</Link
      >
    </p>
  </StepItem>
</ul>

<div class="mt-5 text-center">
  <CancelButton on:cancel>
    {$_('common.back')}
  </CancelButton>
</div>

<style>
  textarea {
    height: 200px;
  }
</style>
