<script
  lang="ts"
  strictEvents
>
  import omit from 'lodash/omit';

  export let href: string | undefined = undefined;
  export let blank = false;

  $: linkOpts = blank ? { target: '_blank', rel: 'noreferrer' } : {};
  $: rest = omit($$props, ['href', 'target', 'rel']);
</script>

{#if href}
  <a
    {href}
    {...rest}
    {...linkOpts}
    on:mouseover
    on:mouseout
    on:focus
    on:blur
  >
    <slot />
  </a>
{:else}
  <div
    {...rest}
    on:mouseover
    on:mouseout
    on:focus
    on:blur
  >
    <slot />
  </div>
{/if}

<style>
  a {
    font-size: inherit;
    line-height: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:active,
  a:focus {
    outline: none;
    outline-style: none;
  }
</style>
