<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import SelectFilter from '$lib/ui/atoms/filters/select/SelectFilter.svelte';
  import ListSongItem from '$lib/ui/organisms/list-song-item/ListSongItem.svelte';
  import SearchList from '$lib/ui/templates/search-list/SearchList.svelte';

  import type { SongSort, Song } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  const dispatch = createEventDispatcher();

  const sorts = (
    [
      { label: 'song.sorts.titleAsc', value: 'titleAsc' },
      { label: 'song.sorts.titleDesc', value: 'titleDesc' },
      { label: 'song.sorts.artistAsc', value: 'artistAsc' },
      { label: 'song.sorts.artistDesc', value: 'artistDesc' },
      { label: 'song.sorts.createdDesc', value: 'createdDesc' },
      { label: 'song.sorts.updatedDesc', value: 'updatedDesc' }
    ] as Array<{ label: string; value: SongSort }>
  ).map(({ label, ...rest }) => ({ ...rest, label: $_(label) }));

  export let sort = sorts[0];
  export let songs: Song[] = [];
  export let search = '';
  export let admin = false;
  export let loading = false;
  export let component = ListSongItem;
  export let total = 0;
  export let filters: {
    isReady: boolean;
    categories: Option[];
    levels: Option[];
  };
  let categoryId: number | undefined;
  let level: number | undefined;

  function onAdd() {
    dispatch('add');
  }

  function onSearch({ detail = {} } = {}) {
    dispatch('search', {
      sort,
      search,
      categoryId,
      level,
      ...detail
    });
  }
</script>

<SearchList
  {component}
  items={songs}
  labelEmpty={$_('song.notFound')}
  labelTotal={$_('song.found')}
  {loading}
  placeholder={$_('common.search')}
  {search}
  {sort}
  {sorts}
  {total}
  withFilters={filters.isReady}
  on:search={onSearch}
  on:loadMore
>
  <div
    slot="filter"
    class="d-flex flex-wrap pb-2 justify-content-end"
  >
    {#if filters.isReady}
      <div class="m-2">
        <SelectFilter
          items={filters.categories}
          label={$_('song.category')}
          bind:value={categoryId}
          on:change={onSearch}
        />
      </div>

      <div class="m-2">
        <SelectFilter
          items={filters.levels}
          label={$_('song.level')}
          bind:value={level}
          on:change={onSearch}
        />
      </div>
    {/if}
  </div>
  <div slot="action">
    {#if admin}
      <button
        class="btn btn-link"
        data-cy="button-add-song"
        on:click={onAdd}>{$_('song.add')}</button
      >
    {/if}
  </div>
</SearchList>
