<script
  lang="ts"
  strictEvents
>
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import YoutubePreview from '$lib/ui/molecules/youtube-preview/YoutubePreview.svelte';

  import { getTotalLabel } from './getTotalLabel';
  import { prepareSongItems } from './prepareSongItems';

  import type {
    PlaylistFile,
    PlaylistImage,
    Song as SongType
  } from '$lib/types';

  export let name = '';
  export let songs: SongType[] = [];
  export let playlist = '';
  export let image: PlaylistImage | undefined = undefined;
  export let file: PlaylistFile | undefined = undefined;

  $: items = prepareSongItems(songs);
  $: totalLabel = getTotalLabel({ songs, file, _: $_ });
</script>

<div
  class="d-flex flex-column justify-content-around align-items-center mb-3 mx-5"
  data-cy="playlist"
>
  <Avatar {...image || {}} />

  <Link
    class="mb-3"
    href={file && file.fullpath}
    rel="noopener noreferrer"
    target="_blank"
  >
    <h1>{name}</h1>
  </Link>
  {#if file && file.fullpath}
    <a
      class="btn btn-primary mb-3"
      href={file.fullpath}
      rel="noopener noreferrer"
      target="_blank"
    >
      {$_('playlist.download')}
    </a>
  {/if}
  {#if playlist}
    <div class="mb-3">
      <YoutubePreview link={playlist} />
    </div>
  {/if}

  {#if !items.length}
    <p class="text-center text-muted">{$_('playlist.noWish')}</p>
  {:else}
    <List
      component={OrderListItem}
      {items}
    />
    <div class="text-muted text-right align-self-end mt-3">{totalLabel}</div>
  {/if}

  <div class="mt-5">
    <CancelButton on:cancel>
      {$_('common.back')}
    </CancelButton>
  </div>
</div>

<style>
  h1 {
    margin-bottom: 1em;
  }
</style>
