<script
  lang="ts"
  strictEvents
>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let selected = false;
  export let name = 'star';
  export let color = '#fbb51e';
  export let offName = 'starOutline';
  export let title: string | undefined = undefined;
  export let offColor: string | undefined = undefined;
  export let medium = false;
</script>

<span
  class={`${$$props.class} main`}
  class:selected
  {title}
  on:click|preventDefault
  on:keydown|preventDefault
>
  <span
    style:color
    class="select"
  >
    <Icon
      {name}
      {medium}
    />
  </span>
  <span
    style:color={offColor || color}
    class="unselect"
  >
    <Icon
      name={offName}
      {medium}
    />
  </span>
</span>

<style>
  .main {
    cursor: pointer;
  }

  .main .select,
  .main:hover .unselect,
  .main.selected .unselect,
  .main.selected:hover .select {
    display: none;
  }

  .main .unselect,
  .main:hover .select,
  .main.selected .select,
  .main.selected:hover .unselect {
    display: block;
  }

  .unselect {
    color: grey;
  }
</style>
