<script
  context="module"
  lang="ts"
>
  export interface Props {
    href?: string;
    position?: number;
    title?: string;
    artist?: string;
    author?: string;
    level?: number;
    edition?: boolean;
    fullpath?: string;
    link?: string;
    isA3?: number;
    unsaved?: boolean;
  }

  export interface Events {
    positionChange: CustomEvent<Props>;
    delete: CustomEvent<Props>;
  }
</script>

<script
  lang="ts"
  strictEvents
>
  import omit from 'lodash/omit';
  import { createEventDispatcher } from 'svelte';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import type { CustomInputEvent } from '$lib/ui/atoms/fields/text/TextField.svelte';
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import SongTitle from '$lib/ui/molecules/title/Title.svelte';

  import type { Dispatcher } from '$lib/ui/types';

  // eslint-disable-next-line @typescript-eslint/no-empty-interface
  interface $$Events extends Events {}
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  // eslint-disable-next-line @typescript-eslint/no-empty-interface, @typescript-eslint/no-unused-vars
  interface $$Props extends Props {}

  export let href = '';
  export let position: number | undefined = undefined;
  export let title = '';
  export let artist = '';
  export let author = '';
  export let level: number | undefined = undefined;
  export let edition: boolean | undefined = undefined;
  export let fullpath = '';
  export let link = '';
  export let isA3 = 0;
  export let unsaved = false;

  function onDelete() {
    dispatch('delete', $$props as $$Props);
  }

  function onPositionChange(e: CustomInputEvent) {
    const value = parseInt(e.currentTarget.value);
    position = value ? value : undefined;
    dispatch('positionChange', {
      ...omit($$props, 'position'),
      position
    } as $$Props);
  }
</script>

<tr
  class="table-item"
  class:new={unsaved}
>
  <th scope="row">
    <div class="pos">
      {#if edition}
        <TextField
          class="mb-0"
          placeholder="-"
          small
          type="number"
          value={position || ''}
          on:change={onPositionChange}
        />
      {:else}
        {position}
      {/if}
    </div>
  </th>
  <td class="p-2">
    <SongTitle
      file={fullpath}
      {href}
      {isA3}
      subtitle={artist}
      {title}
      youtube={link}
    />
  </td>
  <td class="text-center">{author || '-'}</td>
  <td class="text-center">{level || '-'}</td>
  {#if edition}
    <td class="d-flex justify-content-around">
      <a
        class="icon text-primary mr-2"
        {href}
      >
        <Icon name="create" />
      </a>
      <span
        class="icon text-danger"
        on:click={onDelete}
        on:keydown={onDelete}
      >
        <Icon name="trash" />
      </span>
    </td>
  {/if}
</tr>

<style>
  th .pos,
  th {
    width: 55px;
  }

  .icon {
    min-height: 15px;
    min-width: 15px;
    cursor: pointer;
    font-size: 1.5em;
  }

  .new {
    background-color: #efb73e2e;
  }
</style>
