<script
  lang="ts"
  strictEvents
>
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import SongLinks from '$lib/ui/molecules/song-links/SongLinks.svelte';

  export let title: string;
  export let subtitle: string;

  export let href: string | undefined = undefined;
  export let target: string | undefined = undefined;

  export let youtube: string | undefined = undefined;
  export let file: string | undefined = undefined;
  export let isA3 = 0;
</script>

<div class="d-flex flex-row align-items-center">
  <div class="title">
    <Link
      {href}
      {target}
    >
      <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <h3
            class="text-truncate"
            class:text-primary={href}
            data-cy="title"
          >
            {title}
          </h3>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <h4 class="pl-2 text-secondary">{subtitle}</h4>
        </div>
      </div>
    </Link>
  </div>

  {#if youtube || file}
    <div class="links">
      <SongLinks
        {file}
        {isA3}
        medium
        {youtube}
      />
    </div>
  {/if}
</div>

<style>
  .row {
    overflow: hidden;
  }

  h3,
  h4 {
    margin: 0;
  }

  h4 {
    font-weight: normal;
  }

  .title {
    margin-right: 20px;
    overflow: hidden;
    flex-grow: 1;
  }
</style>
