<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import IconHover from '$lib/ui/atoms/icon-hover/IconHover.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';

  export let fullpath: string;
  export let name: string;
  export let type: string;
  export let updated: string;
  export let display = false;
  export let isA3 = false;
  export let label = '';
  export let selected = false;

  const dispatch = createEventDispatcher();

  function onSelect() {
    dispatch('select', $$props);
  }

  function sendChangeEvent(
    rest: { isA3?: boolean; label?: string; display?: boolean } = {}
  ) {
    dispatch('change', {
      ...$$props,
      ...rest,
      label: rest.isA3 ? 'A3' : label
    });
  }

  function onChange() {
    sendChangeEvent();
  }

  function onChangeFormat() {
    const value = !isA3;
    sendChangeEvent({
      isA3: value,
      label: value ? 'A3' : ''
    });
  }

  function onDisplay() {
    sendChangeEvent({ display: !display });
  }
</script>

<div
  class="link"
  class:selected
>
  <div class="rating">
    <IconHover
      {selected}
      on:click={onSelect}
    />
  </div>
  <Link
    href={fullpath}
    rel="noreferrer"
    target="_blank"
  >
    <span>{name}.{type}</span>
  </Link>
  <div class="status">
    <TextField
      class="mb-0 mr-3"
      disabled={isA3}
      placeholder="label"
      right
      small
      bind:value={label}
      on:change={onChange}
    />
    <IconHover
      name="eye"
      class="mr-3"
      color="#20c997"
      offColor="grey"
      offName="eyeOff"
      selected={display}
      on:click={onDisplay}
    />
    <button
      class="btn btn-sm btn-outline-info"
      class:active={isA3}
      on:click={onChangeFormat}
    >
      A3
    </button>
  </div>
  {#if updated}
    <LastUpdate value={updated} />
  {:else}
    <Caption>new</Caption>
  {/if}
</div>

<style>
  .link {
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating {
    flex-shrink: 0;
    margin-right: 5px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .rating :global(span) {
    margin-top: -2px;
    width: 20px;
    height: 20px;
    display: block;
  }

  .status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    flex-grow: 1;
  }

  .status > * {
    margin-left: 20px;
  }
</style>
