<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/molecules/app-link/base/BaseLink.svelte';

  export let href;
  export let color = 'red';
  export let medium;
  export let large;
</script>

<Link
  {color}
  {href}
  on:mouseover
  on:mouseout
>
  <span>
    <Icon
      name="youtube"
      {large}
      {medium}
    />
  </span>
</Link>
