<script>
  import FaFacebookSquare from 'svelte-icons/fa/FaFacebookSquare.svelte';
  import FaGitlab from 'svelte-icons/fa/FaGitlab.svelte';
  import FaSoundcloud from 'svelte-icons/fa/FaSoundcloud.svelte';
  import IoIosAttach from 'svelte-icons/io/IoIosAttach.svelte';
  import IoIosBug from 'svelte-icons/io/IoIosBug.svelte';
  import IoIosHelp from 'svelte-icons/io/IoIosHelp.svelte';
  import IoIosMusicalNote from 'svelte-icons/io/IoIosMusicalNote.svelte';
  import IoIosMusicalNotes from 'svelte-icons/io/IoIosMusicalNotes.svelte';
  import IoLogoYoutube from 'svelte-icons/io/IoLogoYoutube.svelte';
  import IoMdAdd from 'svelte-icons/io/IoMdAdd.svelte';
  import IoMdCreate from 'svelte-icons/io/IoMdCreate.svelte';
  import IoMdEye from 'svelte-icons/io/IoMdEye.svelte';
  import IoMdEyeOff from 'svelte-icons/io/IoMdEyeOff.svelte';
  import IoMdImages from 'svelte-icons/io/IoMdImages.svelte';
  import IoMdLink from 'svelte-icons/io/IoMdLink.svelte';
  import IoMdMenu from 'svelte-icons/io/IoMdMenu.svelte';
  import IoMdStar from 'svelte-icons/io/IoMdStar.svelte';
  import IoMdStarOutline from 'svelte-icons/io/IoMdStarOutline.svelte';
  import IoMdTrash from 'svelte-icons/io/IoMdTrash.svelte';
  import IoMdWarning from 'svelte-icons/io/IoMdWarning.svelte';
  import MdArrowDropDown from 'svelte-icons/md/MdArrowDropDown.svelte';
  import MdArrowDropUp from 'svelte-icons/md/MdArrowDropUp.svelte';

  export const icons = {
    add: IoMdAdd,
    arrowDown: MdArrowDropDown,
    arrowUp: MdArrowDropUp,
    attach: IoIosAttach,
    bug: IoIosBug,
    create: IoMdCreate,
    eye: IoMdEye,
    eyeOff: IoMdEyeOff,
    facebook: FaFacebookSquare,
    gitlab: FaGitlab,
    images: IoMdImages,
    link: IoMdLink,
    menu: IoMdMenu,
    musicalNote: IoIosMusicalNote,
    musicalNotes: IoIosMusicalNotes,
    soundcloud: FaSoundcloud,
    star: IoMdStar,
    starOutline: IoMdStarOutline,
    trash: IoMdTrash,
    warning: IoMdWarning,
    youtube: IoLogoYoutube
  };

  export let name = '.svelte';
  export let small = false;
  export let medium = false;
  export let large = false;
  export let noHover = false;
</script>

<span
  class="d-flex align-items-center"
  class:hover={!noHover}
  class:lg={large}
  class:md={medium}
  class:small
>
  {#if icons[name]}
    <svelte:component this={icons[name]} />
  {:else}
    <IoIosHelp />
  {/if}
</span>

<style>
  span {
    opacity: 0.75;
    display: block;
    width: 20px;
    height: 20px;
  }

  span.hover:hover {
    opacity: 1;
  }

  .small {
    width: 15px;
    height: 15px;
  }

  .md {
    width: 30px;
    height: 30px;
  }

  .lg {
    width: 50px;
    height: 50px;
  }
</style>
