<script>
  import Icon, { icons } from './Icon';

  const items = Object.keys(icons);
  items.sort();

  let search = '';
</script>

<input
  placeholder="filter..."
  type="text"
  bind:value={search}
/>

<div class="container">
  {#each items as name}
    <div
      class="sample"
      class:d-none={search && name.indexOf(search) < 0}
    >
      <Icon
        {name}
        medium
      />
      <small>{name}</small>
    </div>
  {/each}
  <div
    class="sample"
    class:d-none={search && 'not found'.indexOf(search) < 0}
  >
    <Icon medium />
    <small>not found</small>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-flow: wrap;
  }

  .sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    overflow: hidden;

    width: 150px;
  }
</style>
