<script>
  import { _ } from 'svelte-i18n';

  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import YoutubeLink from '$lib/ui/molecules/app-link/youtube/YoutubeLink.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import { prepareSongItems } from '$lib/ui/organisms/playlist/prepareSongItems';

  export let image = '';
  export let songs = [];
  export let name = '';
  export let file = {};
  export let href = '';
  export let playlist = '';
  export let created = '';

  $: items = prepareSongItems(songs);
</script>

<div
  class="playlist-item row py-3"
  data-cy="list-playlist-item"
>
  <div class="col-12 col-md-3">
    <div class="d-flex flex-column align-items-center mr-md-3">
      <a
        class="d-flex flex-column align-items-center mb-3"
        {href}
      >
        <div class="avatar">
          <Avatar
            {...image}
            small
          />
        </div>

        <h3
          class="text-center"
          data-cy="playlist-name"
        >
          {name}
        </h3>
      </a>

      {#if file && file.fullpath}
        <a
          class="btn btn-primary mb-3 nowrap"
          href={file.fullpath}
          target="_blank"
        >
          {$_('playlist.download')}
        </a>
      {/if}
      {#if playlist}
        <div class="my-3">
          <YoutubeLink
            href={playlist}
            large
          />
        </div>
      {/if}
      <div class="separator" />
      <LastUpdate value={created} />
    </div>
  </div>

  <div class="col-12 col-md-9">
    <!-- TODO replace OrderListItem by OrderPlaylistItem -->
    <List
      component={OrderListItem}
      {items}
    />
  </div>
</div>

<style>
  .avatar {
    flex-shrink: 0;
  }

  .separator {
    flex-grow: 1;
  }

  .playlist-item {
    border-bottom: 1px solid #eee;
  }

  a.btn {
    white-space: nowrap;
  }
</style>
