<script>
  import AppLink from '$lib/ui/molecules/app-link/AppLink.svelte';

  export let links = [];
</script>

<nav class="navbar navbar-dark bg-secondary p-3 mt-5">
  <div class="d-flex justify-content-center mx-auto">
    {#if links.length}
      <span class="divider" />
      {#each links as href}
        <div class="logo mx-2">
          <AppLink
            color="white"
            {href}
            medium
          />
        </div>
      {/each}
      <span class="divider" />
    {/if}
  </div>
</nav>

<style>
  div.d-flex {
    padding: 0 30px;
  }

  .divider {
    padding: 1px;
    background-color: white;
    opacity: 0.35;
    margin: 8px 15px;
  }

  .logo {
    width: 28px;
    height: 28px;
  }
</style>
