<script
  lang="ts"
  strictEvents
>
  export let label: string | undefined = undefined;
  export let error: string | undefined = undefined;
  export let id: string | undefined = undefined;

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  const { class: className } = $$restProps;
</script>

<div class={`${className} form-group`}>
  {#if label}
    <label
      class="w-100"
      for={id}>{@html label}</label
    >
  {/if}
  <slot />
  {#if error}
    <div class="invalid-feedback">{@html error}</div>
  {/if}
</div>

<style>
  .invalid-feedback {
    display: block;
  }
</style>
