<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let title;
  export let step;
  export let active;

  function onClick() {
    dispatch('click', step);
  }
</script>

<li class="list-group-item">
  <h4
    class="h4 d-flex align-items-center"
    on:click={onClick}
  >
    <div
      class="btn rounded-circle"
      class:btn-primary={active}
      class:btn-secondary={!active}
    >
      {step}
    </div>
    <span
      class="pl-2"
      class:text-primary={active}
      class:text-secondary={!active}
    >
      {title}
    </span>
  </h4>
  {#if active}
    <div class="ml-3 border-left">
      <slot />
    </div>
  {/if}
</li>

<style>
  h4 {
    cursor: pointer;
  }
</style>
