<script>
  export let title;
  export let step;
  export let active;
</script>

<li class="list-group-item">
  <h4 class="h4 d-flex align-items-center">
    <div
      class="btn rounded-circle"
      class:btn-primary={active}
      class:btn-secondary={!active}
    >
      {step}
    </div>
    <span class="pl-2">{title}</span>
  </h4>
  <div class="ml-3 border-left">
    <slot />
  </div>
</li>
