<script context="module">
  export function propParser(component, opts = {}) {
    return (props) => ({ props, component, ...opts });
  }
</script>

<script>
  export let component;
  export let props = {};
  export let content = 'div';
</script>

<div class="position-relative">
  <svelte:component
    this={component}
    {...props}
  >
    {#if content === 'string'}
      my content
    {:else}
      <div class="border border-info p-2 bg-white">
        my content
        <span class="text-muted">and my sub content</span>
      </div>
    {/if}
  </svelte:component>
</div>
