<script
  lang="ts"
  strictEvents
>
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';

  export let src: string | undefined = undefined;
  export let file: { name: string } | undefined = undefined;

  $: label = file ? "remplacer l'image" : 'ajouter une image';
</script>

<div class="d-flex flex-column align-items-center">
  <Avatar {src} />
  {#if file && file.name}
    <p class="text-muted text-center mb-0">{file.name}</p>
  {:else if src}
    <a
      class="text-center"
      href={src}
      rel="noreferrer"
      target="_blank"
    >
      {src.replace(/^.+\/([^/.]+)\.[^.]+$/, '$1')}
    </a>
  {/if}
  <div class="text-center mt-2">
    <FileUpload
      accept="image/*"
      {label}
      on:change
    />
  </div>
</div>
