<script>
  import { _ } from 'svelte-i18n';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import SongTitle from '$lib/ui/molecules/title/Title.svelte';

  export let title = '';
  export let artist = '';
  export let category = '';
  export let updated = '';
  export let playlists = [];
  export let level = '';
  export let compact = false;
  export let open = false;
  export let href = '';

  function onToggle() {
    open = !open;
  }
</script>

<div
  class="list-group-item list-group-item-action"
  class:compact
  data-cy="list-wish-item"
  on:click={onToggle}
>
  <div class="row align-items-center py-2 px-3">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
      <SongTitle
        {compact}
        {href}
        subtitle={artist}
        {title}
      />
    </div>

    <div class="details col-12 col-md-6 col-lg-5 col-xl-4">
      <div class="row">
        <div class="col-8 col-md-7 text-truncate">
          <Caption>{category}</Caption>
        </div>
        <div class="col text-right">
          <LastUpdate value={updated} />
        </div>
      </div>

      <div class="row">
        {#if level}
          <div class="col">
            <Caption>{$_('song.level')}: {level}</Caption>
          </div>
        {/if}
        {#if playlists && playlists.length}
          <div class="col text-right">
            <Caption>
              {$_(`wish.playlist${playlists.length > 1 ? 's' : ''}`).replace(
                '%TOTAL%',
                playlists.length
              )}
            </Caption>
          </div>
        {/if}
      </div>
    </div>
  </div>
  {#if open}
    <div>
      <List
        component={OrderListItem}
        items={playlists}
      />
    </div>
  {/if}
</div>

<style>
  .list-group-item {
    min-height: 66px;
    padding: 0;
  }

  .compact .details {
    display: none;
  }
</style>
