<script>
  import omit from 'lodash/omit';

  import AppLink from './AppLink';

  export let links = [];
  export let white;
  $: rest = omit($$props, ['white', 'link']);
</script>

<div
  class="p-4"
  class:white
>
  {#each links as href}
    <div class="d-inline-block content mx-2">
      <AppLink
        color={white ? 'white' : undefined}
        {href}
        {...rest}
      />
    </div>
  {/each}
</div>

<style>
  .white {
    background-color: grey;
  }

  .content {
    width: 28px;
    height: 28px;
  }
</style>
