<script>
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import YoutubePreview from '$lib/ui/molecules/youtube-preview/YoutubePreview.svelte';

  export let title = '';
  export let artist = '';
  export let link = '';
  export let level = '';
  export let category = '';
  export let updated = '';
  export let file = '';
  export let files = [];
  export let playlists = [];
</script>

<div class="d-flex flex-column align-items-center">
  <div class="m-3">
    <SectionTitle>
      <span>{title}</span>
    </SectionTitle>

    {#if artist}
      <h2 class="h3 text-info text-center">{artist}</h2>
    {/if}
  </div>

  <div class="item detail mb-4">
    <span>{category}</span>
    {#if level}
      <span>{$_('song.level')}: {level}</span>
    {/if}
  </div>

  <div class="item flex flex-column align-items-center">
    {#if file}
      <a
        class="btn btn-primary mb-3"
        href={file.fullpath}
        target="_blank"
      >
        {$_('song.download')}
        {file.isA3 ? '( A3 )' : ''}
      </a>
    {/if}
  </div>
  {#if files && files.length}
    <div class="item">
      {#each files as f}
        <a
          class="btn btn-secondary btn-sm m-2"
          href={f.fullpath}
          target="_blank"
        >
          {$_('song.download')}
          {f.label && `( ${f.label} )`}
        </a>
      {/each}
    </div>
  {/if}

  {#if link}
    <div class="item">
      <YoutubePreview {link} />
    </div>
  {/if}

  <div class="item">
    <LastUpdate value={updated} />
  </div>

  {#if playlists && playlists.length}
    <div class="item-stretch">
      <List
        component={OrderListItem}
        items={playlists}
      />
    </div>
  {/if}

  <div class="mt-5">
    <CancelButton on:cancel>
      {$_('common.back')}
    </CancelButton>
  </div>
</div>

<style>
  .item,
  .item-stretch {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .item-stretch {
    align-self: stretch;
  }

  .detail > span {
    text-align: center;
    margin: 0 10px;
  }
</style>
