<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let asc = true;
  export let sorted = false;
  export let center = false;

  function handleClick() {
    dispatch('click', $$props);
  }
</script>

<th
  class:text-center={center}
  scope="col"
  on:click|preventDefault={handleClick}
>
  <div>
    <slot />
    {#if sorted}
      <i
        class="ion"
        class:ion-md-arrow-dropdown={asc}
        class:ion-md-arrow-dropup={!asc}
      />
    {/if}
  </div>
</th>

<style>
  th {
    cursor: pointer;
  }

  div {
    position: relative;
    padding-right: 10px;
  }

  i {
    position: absolute;
    right: 0;
    top: 3px;
  }
</style>
