<script
  context="module"
  lang="ts"
>
  import type { Events as TableSongsEvents } from '$lib/ui/organisms/table-songs/TableSongs.svelte';

  import type {
    PlaylistImage,
    PlaylistFile,
    Song as SongType,
    UploadedFile
  } from '$lib/types';
  import type { Dispatcher, FnAutoComplete, Sort } from '$lib/ui/types';

  type Image = PlaylistImage | { file: UploadedFile } | undefined;

  export interface Events extends TableSongsEvents {
    submit: CustomEvent<{
      name: string;
      image: Image;
      file?: PlaylistFile;
      songs: SongType[];
      playlist: string;
    }>;
    cancel: CustomEvent;
  }
</script>

<script
  lang="ts"
  strictEvents
>
  import omit from 'lodash/omit';
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import YoutubeField from '$lib/ui/atoms/fields/youtube/YoutubeField.svelte';
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import Actions from '$lib/ui/molecules/actions/Actions.svelte';
  import AvatarForm from '$lib/ui/organisms/form/avatar/AvatarForm.svelte';
  import { getTotalLabel } from '$lib/ui/organisms/playlist/getTotalLabel';
  import TableSongs from '$lib/ui/organisms/table-songs/TableSongs.svelte';
  import uploadFile from '$lib/utils/uploadFile';

  export let name = '';
  export let image: PlaylistImage | { file: UploadedFile } | undefined =
    undefined;
  export let playlist = '';
  export let songs: SongType[] = [];
  export let file: PlaylistFile | undefined = undefined;
  export let errors: Record<string, string> | undefined = undefined;
  export let saving = false;
  export let sort: Sort | undefined = undefined;
  export let loadWishes: FnAutoComplete<SongType>;
  export let wishError: string | undefined = undefined;
  export let urlGenerate: string | undefined = undefined;

  // eslint-disable-next-line @typescript-eslint/no-empty-interface
  interface $$Events extends Events {}
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  function onSubmit() {
    dispatch('submit', {
      name,
      image,
      playlist,
      file,
      songs
    });
  }

  const accept = 'application/pdf';

  $: listErrors = omit(errors, ['name', 'image', 'playlist']);

  async function onAddImage({ detail }: CustomEvent<{ file: File }>) {
    const { file } = await uploadFile(detail);
    image = {
      ...image,
      file
    };
  }

  async function onUploadFile({ detail }: CustomEvent<{ file: File }>) {
    ({ file } = await uploadFile(detail));
  }

  $: details = getTotalLabel({ songs, file, _: $_ });
</script>

<div class="playlist-form container mb-5">
  {#if Object.keys(listErrors).length}
    <Errors errors={listErrors} />
  {/if}

  <Actions
    {saving}
    on:submit={onSubmit}
    on:cancel
  />

  <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
    <div class="d-flex flex-column">
      <AvatarForm
        on:change={onAddImage}
        {...image}
      />
    </div>

    <div class="form d-flex flex-column">
      <TextField
        name="name"
        error={errors?.name}
        label={$_('playlist.date')}
        placeholder={$_('playlist.placeholder.date')}
        bind:value={name}
      />
      <YoutubeField
        name="playlist"
        error={errors?.playlist}
        label={$_('playlist.playlist')}
        placeholder={$_('playlist.placeholder.playlist')}
        bind:value={playlist}
      />

      <div class="d-flex justify-content-between align-items-center">
        {#if urlGenerate}
          <Link
            class="btn btn-outline-info"
            href={urlGenerate}
          >
            Générer la liste
          </Link>
        {/if}
        <div class="d-flex align-items-center justify-content-end flex-grow-1">
          {#if file && file.name}
            <Link
              class="mr-2"
              href={file.fullpath}
              rel="noopener noreferrer"
              target="_blank">{file.name}</Link
            >
          {/if}
          <FileUpload
            {accept}
            on:change={onUploadFile}
          />
        </div>
      </div>
    </div>
  </div>

  <TableSongs
    edition
    {loadWishes}
    {songs}
    {sort}
    {wishError}
    on:sort
    on:delete
    on:positionChange
    on:add
    on:select
  />

  <div class="text-right text-muted mt-3">{details}</div>
</div>

<style>
  .form {
    margin-left: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
  }
</style>
