<script lang="ts">
  import { loadLocale } from '$lib/i18n';

  const promise = loadLocale();
</script>

{#await promise then}
  <slot />
{:catch error}
  <p class="text-danger">{error.message}</p>
{/await}
