<script
  context="module"
  lang="ts"
>
  import type { FnAutoComplete, Dispatcher, Option } from '$lib/ui/types';

  export type Events = {
    select: CustomEvent<Option>;
    add: CustomEvent;
  };
</script>

<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import AutoComplete from '$lib/ui/molecules/auto-complete/AutoComplete.svelte';

  import type { Song } from '$lib/types';

  export let label = '';
  export let placeholder = '';
  export let error: string | undefined = undefined;
  export let value = '';
  // events
  export let loadWishes: FnAutoComplete<Song> | undefined;

  // eslint-disable-next-line @typescript-eslint/no-empty-interface
  interface $$Events extends Events {}
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  function handleSelect({ detail }: CustomEvent<Option>) {
    dispatch('select', detail);
    value = '';
  }

  function handleAdd() {
    dispatch('add');
  }
</script>

<div
  class="d-flex justify-content-around"
  data-cy="wish"
>
  {#if loadWishes}
    <div class="autocomplete mr-2">
      <AutoComplete
        {error}
        {label}
        loadOptions={loadWishes}
        {placeholder}
        bind:value
        on:select={handleSelect}
      />
    </div>
  {/if}

  <div>
    <button
      class="btn btn-primary"
      type="button"
      on:click={handleAdd}
    >
      <Icon name="add" />
    </button>
  </div>
</div>

<style>
  .autocomplete {
    flex-grow: 1;
  }
</style>
