<script>
  export let items;
  export let component;
</script>

<div class="list-group list-group-flush">
  {#each items as item}
    <svelte:component
      this={component}
      {...item}
    />
  {/each}
</div>

<style>
  div {
    width: 100%;
  }
</style>
