<script>
  import List from '$lib/ui/atoms/list/List.svelte';
  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import Search from '$lib/ui/molecules/search/Search.svelte';

  // search args
  export let sort;
  export let sorts = [];
  export let search = '';
  export let limit = 50;
  export let placeholder;
  export let withFilters = false;
  export let labelTotal = '';
  export let labelEmpty = '';
  export let total = 0;
  // list args
  export let component;
  export let items = [];
  export let loading = false;

  $: hasMore = items.length < total;
  $: caption = total ? labelTotal.replace('%TOTAL%', total) : labelEmpty;
</script>

<div class="d-flex flex-column">
  <div class="row my-3">
    <div
      class="col col-sm-8 mx-auto"
      data-cy="list-form-search"
    >
      <Search
        {caption}
        {limit}
        {placeholder}
        {search}
        {sort}
        {sorts}
        {withFilters}
        on:search
      >
        <slot name="filter" />
      </Search>
    </div>
  </div>

  <div
    class="action"
    data-cy="list-actions"
  >
    <slot name="action" />
  </div>

  <Loading
    {hasMore}
    isLoading={loading}
    on:loadMore
  >
    <List
      {component}
      {items}
    />
  </Loading>
</div>

<style>
  .action {
    display: flex;
    justify-content: flex-end;
  }
</style>
