<script>
  import SearchList from './SearchList';
</script>

<SearchList
  {...$$props}
  on:search
  on:loadMore
>
  <div slot="filter">this is "filter" slot</div>
  <div slot="action">
    <button class="btn btn-link">on action</button>
    <button class="btn btn-link">two actions</button>
  </div>
</SearchList>
