<script
  context="module"
  lang="ts"
>
  export type Link = {
    href: string;
    label: string;
    icon?: string;
    id: string;
  };
</script>

<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import { _ } from 'svelte-i18n';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let links: Link[] = [];
  export let path: string;
  export let appIcon: string;
  export let lang: string;

  let open = false;

  const dispatch = createEventDispatcher();

  function handleChangeLang() {
    dispatch('changeLang', lang);
  }

  function toggleMenu() {
    open = !open;
  }

  function closeMenu() {
    open = false;
  }
</script>

<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="d-flex flex-column flex-md-row justify-content-between w-100">
    <div class="d-flex flex-row justify-content-between w-100">
      {#if appIcon}
        <a
          class="navbar-brand d-flex p-0 align-items-center"
          href="/"
        >
          <img
            alt="home"
            height="30"
            src={appIcon}
            width="30"
          />
          <div class="title d-flex flex-column justify-content-center ml-2">
            <span>{$_('site.title')}</span>
            <span class="subtitle d-lg-block d-none"
              ><i>{$_('site.subtitle')}</i></span
            >
          </div>
        </a>
      {/if}
      <button
        class="btn btn-outline-primary d-block d-md-none"
        on:click={toggleMenu}
      >
        <Icon name="menu" />
      </button>
      <ul class="navbar-nav d-none d-md-flex">
        {#each links as link}
          <li
            id={`link-${link.id}`}
            class="nav-item"
            class:active={path === link.href}
          >
            <a
              class="nav-link"
              href={link.href}
            >
              {#if link.icon}
                <i class="ion ion-md-{link.icon}" />
              {/if}
              {$_(link.label)}
            </a>
          </li>
        {/each}
        {#if lang}
          <li class="nav-item">
            <button
              class="btn btn-link"
              on:click={handleChangeLang}
            >
              <img
                alt={lang}
                src={`/locale-${lang}.png`}
              />
            </button>
          </li>
        {/if}
      </ul>
    </div>
    {#if open}
      <ul
        class="navbar-nav mobile d-flex d-md-none flex-column"
        aria-hidden
        on:click={closeMenu}
        transition:slide
      >
        {#each links as link}
          <li
            id={`link-${link.id}`}
            class="nav-item"
            class:active={path === link.href}
          >
            <a
              class="nav-link"
              href={link.href}
            >
              {#if link.icon}
                <i class="ion ion-md-{link.icon}" />
              {/if}
              {$_(link.label)}
            </a>
          </li>
        {/each}
        {#if lang}
          <li class="nav-item">
            <button
              class="btn btn-link"
              on:click={handleChangeLang}
            >
              <img
                alt={lang}
                src={`/locale-${lang}.png`}
              />
            </button>
          </li>
        {/if}
      </ul>
    {/if}
  </div>
</nav>

<style>
  .title span {
    line-height: 1em;
  }

  .btn-outline-primary {
    color: white;
    border: 1px solid white;
  }

  .btn-outline-primary:hover {
    color: #e95420;
    border: 1px solid #e95420;
    background-color: white;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .nav-item {
    white-space: nowrap;
  }

  .navbar-nav.mobile .nav-item {
    border-top: 1px solid white;
  }

  .navbar-nav.mobile .nav-item:first-child {
    border-top: 0;
  }
</style>
