<script
  context="module"
  lang="ts"
>
  import type { Events as WishEvents } from '$lib/ui/organisms/form/wish/Wish.svelte';
  import type { Events as SongItemEvents } from '$lib/ui/organisms/table-song-item/TableSongItem.svelte';

  export interface Events extends WishEvents, SongItemEvents {
    sort: CustomEvent;
  }
</script>

<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  import Th from '$lib/ui/atoms/th/Th.svelte';
  import Wish from '$lib/ui/organisms/form/wish/Wish.svelte';
  import TrSong from '$lib/ui/organisms/table-song-item/TableSongItem.svelte';

  import { sortSongs } from './sortSongs';

  import type { Song } from '$lib/types';
  import type { Dispatcher, FnAutoComplete, Sort } from '$lib/ui/types';

  export let songs: Song[] = [];
  export let sort = { value: 'position', asc: true };
  export let loadWishes: FnAutoComplete<Song>;
  export let edition: boolean | undefined = undefined;
  export let wishError: string | undefined = undefined;

  // eslint-disable-next-line @typescript-eslint/no-empty-interface
  interface $$Events extends Events {}
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  type Column = {
    value?: string;
    label: string;
    center?: boolean;
  };
  const columnsBase: Column[] = [
    { value: 'position', label: '#', center: true },
    { value: 'songs', label: 'songs', center: true },
    { value: 'author', label: 'author', center: true },
    { value: 'level', label: 'level', center: true },
    { label: '' }
  ];

  function prepareColumns(sort: Sort) {
    return (col: Column) => {
      if (!col.value) {
        return col;
      }
      return {
        ...col,
        sorted: sort.value === col.value,
        asc: sort.asc
      };
    };
  }

  function onTitleSort({ detail }: CustomEvent) {
    dispatch('sort', detail);
  }

  $: columns = columnsBase.map(prepareColumns(sort));
  $: rows = sortSongs(songs, sort);
</script>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      {#each columns as { label, ...col }}
        <Th
          on:click={onTitleSort}
          {...col}
        >
          {#if label}
            {$_(`playlist.songs.${label}`, { default: label })}
          {/if}
        </Th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#if rows.length}
      {#each rows as song}
        <!--  issue with object destructuration -->
        <TrSong
          {...{ ...song, edition }}
          on:delete
          on:positionChange
        />
      {/each}
    {:else}
      <tr>
        <td
          class="no-result"
          colspan={columns.length}
        >
          {$_('playlist.noWish')}
        </td>
      </tr>
    {/if}
  </tbody>
  {#if edition}
    <tfoot>
      <tr>
        <td colspan={columns.length}>
          <Wish
            error={wishError}
            {loadWishes}
            placeholder={$_('song.add')}
            on:select
            on:add
          />
        </td>
      </tr>
    </tfoot>
  {/if}
</table>

<style>
  .no-result,
  .no-result:hover {
    text-align: center;
    background-color: transparent;
  }
</style>
