<script
  lang="ts"
  strictEvents
>
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  import type { Option } from '$lib/ui/types';

  export let label: string;
  export let value: number | string | undefined;
  export let items: Option[];
  export let error: string | undefined;
  export let placeholder: string | undefined;
</script>

<BaseField
  class={$$props.class}
  {error}
  {label}
>
  <select
    class="form-control"
    class:is-invalid={error}
    {placeholder}
    bind:value
  >
    {#each items as item}
      <option value={item.value}>{item.label}</option>
    {/each}
  </select>
</BaseField>

<style>
  select {
    flex-grow: 1;
  }
</style>
