<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let accept = '';
  export let label = '';

  let input: HTMLInputElement;

  const dispatch = createEventDispatcher();

  function chooseFile() {
    input.click();
  }

  function handleChange(e: { currentTarget: HTMLInputElement }) {
    dispatch('change', {
      file: e.currentTarget.files ? e.currentTarget.files[0] : '',
      value: e.currentTarget.value
    });
  }
</script>

<div>
  <button
    class="btn btn-outline-primary d-flex"
    on:click={chooseFile}
  >
    {#if label}
      <span class="mr-">{label}</span>
    {/if}
    <span class="icon">
      <Icon name="attach" />
    </span>
  </button>
  <input
    bind:this={input}
    {accept}
    type="file"
    on:change={handleChange}
  />
</div>

<style>
  input {
    display: none;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .icon :global(span) {
    margin-top: 2px;
  }
</style>
