<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  function onCancel() {
    dispatch('cancel');
  }
</script>

<button
  class="button-cancel btn btn-light"
  on:click={onCancel}
>
  <slot />
</button>
