<script>
  import { goto } from '@sapper/app';

  import PlaylistHelp from '$lib/ui/pages/playlist-help/PlaylistHelp.svelte';
  import Headers from '$lib/views/utils/headers/Headers';

  import {
    API_URL_DOWNLOAD,
    URL_TEMPLATE_RESUME_DOCX,
    URL_TEMPLATE_RESUME_ODT,
    URL_EDIT
  } from '../constants';

  export let id;
  export let name;
  export let image;
  export let songs;

  const flagA3 = ' (A3)';

  function getSummaryLine({ title, position, isA3 }) {
    let dot = `- ${title}${isA3 ? flagA3 : ''} `;
    const length = title.length + 1 + (isA3 ? flagA3.length : 0);

    for (let i = length; i < 48; i++) {
      dot += '.';
    }

    return dot + ` ${position}\n`;
  }

  function goToList() {
    goto(URL_EDIT.replace('#ID#', id));
  }

  const templates = {
    docx: URL_TEMPLATE_RESUME_DOCX,
    odt: URL_TEMPLATE_RESUME_ODT
  };
  const urlSongs = API_URL_DOWNLOAD.replace('#ID#', id);

  $: summary = songs
    .filter(({ position }) => !!position)
    .map(({ title, position, isA3 }) =>
      getSummaryLine({
        title,
        position: `${position < 10 ? 0 : ''}${position}`,
        isA3
      })
    )
    .join('');
</script>

<Headers />

<PlaylistHelp
  {name}
  {image}
  {summary}
  {templates}
  {urlSongs}
  on:cancel={goToList}
/>
