<script>
  import omit from 'lodash/omit';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import { getPreviewImage } from '$lib/ui/molecules/youtube-preview/utils';

  export let label = '';
  export let value;

  $: rest = omit($$props, ['label', 'value']);

  function getLabelPreview(link) {
    const img = getPreviewImage(link);
    if (!img) {
      return '';
    }

    return `<img class="float-right" src="${img}" alt="preview" height="24" />`;
  }

  $: previewImage = getLabelPreview(value);
</script>

<TextField
  {...rest}
  label={label + previewImage}
  type="url"
  bind:value
/>
