<script>
  import { _ } from 'svelte-i18n';
  import SvelteInfiniteScroll from 'svelte-infinite-scroll';

  export let isLoading = false;
  export let hasMore = false;
  export let hideSlot = false;
</script>

<div class="d-flex flex-column align-items-center">
  {#if !(hideSlot && isLoading)}
    <slot />
  {/if}
  <div class="mt-4 mb-5">
    {#if isLoading}
      <div
        class="spinner-grow text-primary"
        role="status"
      >
        <span class="sr-only">{$_('common.loading')}</span>
      </div>
    {:else}
      <SvelteInfiniteScroll
        {hasMore}
        threshold={100}
        window
        on:loadMore
      />
    {/if}
  </div>
</div>
