<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let id;
</script>

<div class="d-flex flex-column align-items-center justify-content-center">
  <h1
    {id}
    class="h2 text-primary"
  >
    <slot />
  </h1>
  <span class="divider mx-auto">
    <span class="bg-info" />
    <span class="notes d-flex text-info mx-2">
      <Icon
        name="musicalNote"
        noHover
      />
      <Icon
        name="musicalNotes"
        noHover
      />
    </span>
    <span class="bg-info" />
  </span>
</div>

<style>
  h1 {
    position: relative;
    margin-bottom: 2px;
  }

  .divider {
    opacity: 0.6;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
  }

  .divider > span.bg-info {
    width: 40%;
    height: 2px;
    border-radius: 5px;
  }
</style>
