<script
  lang="ts"
  strictEvents
>
  import { _ } from 'svelte-i18n';

  import { goto } from '$app/navigation';
  import { page } from '$app/stores';

  import { haveError } from '$lib/controllers/playlist/haveError';
  import PlaylistPage from '$lib/ui/pages/playlist/Playlist.svelte';
  import post from '$lib/utils/post';
  import { loadArtists, loadAuthors } from '$lib/views/song/autocompletes';
  import { searchSongs } from '$lib/views/song/list/searchSongs';
  import Headers from '$lib/views/utils/headers/Headers.svelte';

  import { URL_EDIT, API_URL_EDIT, URL_GENERATE } from '../constants';

  import type { Playlist, PlaylistType, Song } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  export let playlist: Playlist | undefined = undefined;
  export let playlistType: PlaylistType;
  export let urlEdit: string;
  export let urlIndex: string;
  export let categories: Option[];

  let saving = false;

  let errors: Record<string, string> | undefined = undefined;
  let wishSelectError: string | undefined = undefined;

  async function onSubmit({ detail }: CustomEvent<Playlist>) {
    playlist = {
      ...detail,
      id: playlist?.id ?? 0,
      type: playlistType
    };

    const result = haveError(playlist);
    if (result) {
      errors = result;
      return;
    }

    saving = true;
    return post<Playlist, Playlist>(
      API_URL_EDIT.replace('#ID#', `${playlist.id}`),
      playlist
    )
      .then((res) => {
        saving = false;
        if (!playlist?.id) {
          goto(URL_EDIT.replace('#ID#', `${res.id}`), { replaceState: true });
          return;
        }

        playlist = res;
        errors = undefined;
      })
      .catch((e) => {
        saving = false;
        errors = e;
      });
  }

  function goToList() {
    goto(urlIndex);
  }

  async function loadSongs(search: string): Promise<Option<Song>[]> {
    return searchSongs({ search, limit: 10 }).then(({ items }) =>
      items.map((s: Song) => ({ label: `${s.title} - ${s.artist}`, value: s }))
    );
  }

  $: htmlTitle = playlist
    ? `${playlist.name} - ${$_(`${playlistType}.header`)}`
    : $_(`${playlistType}.noTitle`);
  $: logged = !!$page.data.session?.id;
  $: urlGenerate = URL_GENERATE.replace('#ID#', `${playlist?.id}`);
</script>

<Headers
  description={$_('headers.playlist')}
  image={playlist?.image?.src}
  path={urlEdit.replace('#ID#', `${playlist?.id}`)}
  title={htmlTitle}
/>

<PlaylistPage
  {categories}
  edit={logged}
  {errors}
  {loadArtists}
  {loadAuthors}
  {loadSongs}
  {playlist}
  {saving}
  type={playlistType}
  {urlGenerate}
  {wishSelectError}
  on:submit={onSubmit}
  on:cancel={goToList}
/>
