<script
  context="module"
  lang="ts"
>
  export type CustomInputEvent = Event & {
    currentTarget: EventTarget & HTMLInputElement;
  };
</script>

<script
  lang="ts"
  strictEvents
>
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Events {
    change: CustomInputEvent;
    focus: CustomInputEvent;
    keydown: KeyboardEvent;
    blur: CustomInputEvent;
  }

  export let label: string | undefined = undefined;
  export let value: string | number;
  export let type = 'text';
  export let placeholder = '';
  export let error: string | undefined = undefined;
  export let small = false;
  export let right = false;

  const { class: className, ...restProps } = $$restProps;

  function handleInput(
    e: Event & { currentTarget: EventTarget & HTMLInputElement }
  ) {
    value = type.match(/^(number|range)$/)
      ? +e.currentTarget.value
      : e.currentTarget.value;

    if (type === 'number') {
      error = !/^[0-9]*$/.test(`${value}`) ? 'invalid number' : '';
    }
  }
</script>

<BaseField
  class={className}
  {error}
  {label}
>
  <div>
    <input
      class:form-control-sm={small}
      class:is-invalid={error}
      class:text-right={right}
      {placeholder}
      {type}
      {value}
      {...restProps}
      class="form-control"
      on:input={handleInput}
      on:focus
      on:change
      on:blur
      on:keydown
    />
    <slot />
  </div>
</BaseField>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }

  input[type='number'] {
    appearance: textfield;
    text-align: center;
    width: 60px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  div {
    position: relative;
  }
</style>
