<script
  lang="ts"
  strictEvents
>
  import { _ } from 'svelte-i18n';

  export let title = $_('site.title') + '. ' + $_('site.subtitle');
  export let path = '';
  export let description = $_('site.description');
  export let keywords = $_('site.keywords');
  export let image: string | undefined = undefined;

  const website = 'https://www.rendevuke.com';
</script>

<svelte:head>
  <title>{title}</title>
  <meta
    name="description"
    content={description}
  />
  <meta
    name="keywords"
    content={keywords}
  />
  <meta
    content="website"
    property="og:type"
  />
  <meta
    content="description"
    property="og:description"
  />
  <meta
    content="{website}{path}"
    property="og:url"
  />
  <meta
    content={title}
    property="og:title"
  />
  <meta
    content="Rendev'Uke"
    property="og:site_name"
  />
  <meta
    content={`${website}${image ?? '/logo-270.png'}`}
    property="og:image"
  />
</svelte:head>
